@import '../theme';

.post {
  margin-bottom: $font-size-h1 * 2;
}

.footer {
  background-color: $font-color-mid;
  color: $font-color-light;
  display: flex;
  flex-direction: column;
  padding: 2.625rem 1.3125rem;
}

.thanks {
  text-align: center;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navWrapper {
  max-width: 53rem;
  width: 100%;
  padding: 2.625rem 0 0;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
}
