@import '~normalize.css';
@import '../theme';

html * {
  box-sizing: border-box;
}

body {
  color: $font-color-dark;
  font-family: $montserrat;
  font-display: swap;
}

/* --- Markdown style --- */

p a {
  color: $font-color-dark;

  &:hover {
    opacity: 0.7;
  }
}

kbd {
  background-color: $monochromatic-light;
  border-radius: 3px;
  border: 1px solid $monochromatic-mid;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-family: $ibm-plex-mono;
  margin-bottom: $font-size-default;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tbody > tr:nth-child(odd) {
  background-color: #f2f2f2;
}

hr {
  border: 0;
  border-bottom: 1px solid $monochromatic-mid;
  margin: $font-size-h2 0;
}

h1 {
  @include header-font($font-size-h1);

  &.page-title {
    margin: 0;
    padding: $padding 0;
    text-align: center;
  }
}

h2 {
  @include header-font($font-size-h2, true);
}

h3 {
  @include header-font($font-size-h3);
}

h4 {
  @include header-font($font-size-h4);
}

h5 {
  @include header-font($font-size-default);
  color: $font-color-mid;
  font-weight: 400;

  &.page-title {
    margin: 0;
    padding: 0.5rem 0 2rem;
    text-align: center;
  }
}

a {
  &.light {
    color: white;
  }
}

p {
  &.page-description {
    text-align: center;
  }
}

p,
li {
  @include body-font();
}

li {
  margin: 0;
  padding-left: $padding;
}

ul,
ol {
  margin: 0 0 $font-size-default;
  padding-left: $padding;

  > li {
    margin-bottom: $font-size-default;
  }

  li {
    line-height: $line-height-small;
    p,
    li {
      margin: 0;
    }
  }
}

blockquote {
  background-color: $code-inline;
  padding-bottom: 1px !important;
}

blockquote,
.gatsby-highlight {
  margin: 0 -#{$font-size-h1} $font-size-default;
  padding: $padding $font-size-h1;
  border-radius: 0;

  @media (min-width: $phone-upper-boundary) {
    margin: 0 -#{$padding} $font-size-default;
    padding: $padding;
    border-radius: $border-radius;
  }
}

/* --- Gatsby code highlight fix --- */

// Inline code styling.
:not(pre) > code[class*='language-'] {
  color: $font-color-dark;
  font-family: $ibm-plex-mono;
  background: $code-inline !important;
  padding: 0.1rem 0.4rem !important;
  white-space: nowrap;
}

/**
 * Add back the container background-color, border-radius, padding, margin
 * and overflow that we removed from <pre>.
 */
.gatsby-highlight {
  overflow: auto;
  background-color: $code-background;

  pre > code {
    font-family: $ibm-plex-mono;
    font-size: 1rem;
  }
}

/**
 * Remove the default PrismJS theme background-color, border-radius, margin,
 * padding and overflow.
 * 1. Make the element just wide enough to fit its content.
 * 2. Always fill the visible space in .gatsby-highlight.
 * 3. Adjust the position of the line numbers
 */
.gatsby-highlight pre[class*='language-'] {
  background-color: transparent;
  margin: 0;
  padding: 0;
  overflow: initial;
  float: left;
  min-width: 100%;
  font-weight: 400;

  // Adjust the position of the line numbers
  &.line-numbers {
    padding-left: 2.5rem;
  }

  span.token.comment {
    font-style: italic;
  }
}

// FIX: fix lack of right padding on scrolling non-highlighted blocks.
.gatsby-highlight:not(.has-highlighted-lines) {
  pre[class*='language-'] {
    padding-right: $font-size-h1;

    @media (min-width: $phone-upper-boundary) {
      padding-right: 1rem;
    }
  }
}

.gatsby-highlight-code-line {
  background-color: $code-highlight;
  display: block;
  border-left: 0.25rem solid $highlight;

  // FIX: prevent collapsing of highlighted empty lines.
  min-height: 1.5 * $font-size-default;

  padding-left: $font-size-h1 - 0.25rem;
  padding-right: $font-size-h1;

  margin-left: -#{$font-size-h1};
  margin-right: -#{$font-size-h1};

  @media (min-width: $phone-upper-boundary) {
    padding-left: 1rem - 0.25rem;
    padding-right: 1rem;

    margin-left: -1rem;
    margin-right: -1rem;
  }
}

/* --- Story specific styles. --- */

.button-style-focus:focus {
  outline: red auto 5px;
}
