@import '../theme';

.header {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}

.left {
  flex: 1 1 auto;
}

.leftLink {
  display: flex;
  align-items: center;
  @include link();
  width: 100%;
  overflow: hidden;
}

.leftImage {
  flex: 0 0 24px;
  height: 24px;
  width: 24px;
  overflow: hidden;
  border-radius: 50%;
}

.leftText {
  position: relative;
  flex: 1 1 auto;
  height: $font-size-h3;
  > * {
    user-select: none;
    pointer-events: none;
  }
}

.leftTextInner {
  position: absolute;
  top: 6px;
  left: 0;
  right: 0;
  bottom: -6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 6px;
  opacity: 0;
  transition: opacity 0.3s;
}

.hovered {
  opacity: 1 !important;
}

.right {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-end;
}

.rightLink {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  fill: $font-color-mid;
  @include link();
  padding-left: $padding;
  > * {
    user-select: none;
    pointer-events: none;
  }
}
