@import '../theme';

.header {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}

.left {
  flex: 1 1 auto;
  overflow: hidden;
}

.leftLink {
  display: flex;
  align-items: center;
  @include link();
  width: 100%;
  overflow: hidden;
}

.leftImage {
  flex: 0 0 28px;
  height: 28px !important;
  width: 28px !important;
}

.leftText {
  flex: 1 1 auto;
  transform: translateY(1px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 4px;
}

.right {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-end;
}

.rightLink {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  fill: $font-color-mid;
  @include link();
  padding-left: $padding;
}
