@import '../theme';

.list {
  margin-bottom: $font-size-default * 2;
  padding-bottom: $font-size-default * 2;
  border-bottom: 1px solid $monochromatic-mid;

  &:last-of-type {
    border: 0;
  }
}

.link {
  @include link(true);

  &:hover {
    > * {
      opacity: 0.7;
    }
  }
}
