@import '../theme';

.other {
  a {
    @include link();
    color: $font-color-light;
    margin: 0 1rem;
  }

  p {
    line-height: $font-size-h4;
    margin: $font-size-default/2 0 $font-size-default;
  }

  display: flex;
}

.new {
  p {
    text-align: right;
  }
}
