/* --- Colors --- */

// Monochromatic color variables
$monochromatic-light:  #eee;
$monochromatic-mid:    #ccc;
$monochromatic-dark:   #777;

// Font color variables
$font-color-light:     #fff;
$font-color-mid:       #607080;
$font-color-dark:      #252535;

// Highlight
$highlight:            #a0a000;

// Code colors
$code-background:      #1e1e1e;
$code-inline:          rgba($highlight, 0.4);
$code-highlight:       rgba($highlight, 0.1);

/* --- Layout --- */

// Breakpoints
$phone-upper-boundary:  775px;

// Padding
$padding: 16px;
$border-radius: 6px;

/* --- Fonts --- */

$montserrat:        'Montserrat', sans-serif;
$merriweather:      'Merriweather', serif;
$merriweather-sans: 'Merriweather Sans', sans-serif;
$ibm-plex-mono:     'IBM Plex Mono', monospace;

// Font sizes
$font-size-default: 1rem;
$font-size-small: 1rem / 1.25;
$font-size-h4: $font-size-default * 1.25;
$font-size-h3: $font-size-default * 1.25 * 1.25;
$font-size-h2: $font-size-default * 1.25 * 1.25 * 1.25;
$font-size-h1: $font-size-default * 1.25 * 1.25 * 1.25 * 1.25;

// Line heights
$line-height-default: $font-size-default * 2.5;
$line-height-small: $font-size-default * 2;

// Font mixins
@mixin header-font($size, $has-top-border: false) {
  font-size: $size;
  margin: 0 0 $size;
  font-family: $ibm-plex-mono;
  font-weight: 500;

  @if $has-top-border {
    margin-top: $size;
    padding-top: $size;
    border-top: 1px solid $monochromatic-mid;
  } @else {
    margin-top: $size * 2;

    &:first-of-type {
      margin-top: $size;
    }
  }
}

@mixin body-font() {
  font-family: $merriweather;
  font-size: $font-size-default;
  line-height: $line-height-default;
  margin: 0 0 $font-size-default;
}

@mixin link($dark: false) {
  text-decoration: none;

  @if $dark {
    color: $font-color-dark;
  } @else {
    color: $font-color-mid;
  }

  &:hover {
    opacity: 0.7;
  }
}
