/* --- Colors --- */

// Monochromatic color variables
$monochromatic-light:        #eee;
$monochromatic-mid:          #ddd;
$monochromatic-dark:         #777;

// Font color variables
$font-color-light:           #fff;
$font-color-mid:             #607080;
$font-color-dark:            #252535;


/* --- Layout --- */

// Breakpoints
$phone-upper-boundary:  768px;
$tablet-upper-boundary: 1024px;

/* --- Fonts --- */

$montserrat: 'Montserrat', sans-serif;
$merriweather: 'Merriweather', serif;
$merriweather-sans: 'Merriweather Sans', sans-serif;
$ibm-plex-mono: 'IBM Plex Mono', monospace;

// Font sizes
$font-size-default: 1rem;
$font-size-small: 1rem / 1.25;
$font-size-h4: $font-size-default * 1.25;
$font-size-h3: $font-size-default * 1.25 * 1.25;
$font-size-h2: $font-size-default * 1.25 * 1.25 * 1.25;
$font-size-h1: $font-size-default * 1.25 * 1.25 * 1.25 * 1.25;

// Line heights
$line-height-default: $font-size-default * 2;

// Font mixins
@mixin header-font($size, $has-top-border: false) {
  font-size: $size;
  margin: 0 0 $size;
  font-family: $ibm-plex-mono;

  @if $has-top-border {
    margin-top: $size;
    padding-top: $size;
    border-top: 1px solid $monochromatic-mid;
  } @else {
    margin-top: $size * 2;

    &:first-of-type {
      margin-top: $size;
    }
  }
}

@mixin body-font() {
  font-family: $merriweather;
  font-size: $font-size-default;
  line-height: $line-height-default;
  margin: 0 0 $font-size-default;
}

@mixin link($dark: false) {
  text-decoration: none;

  @if $dark {
    color: $font-color-dark;
  } @else {
    color: $font-color-mid;
  }

  &:hover {
    opacity: 0.7;
  }
}
